.root {
  flex-shrink: 0;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
}

.emptyAvatar {
  text-align: center;
  background: var(--light-gray);
  padding-top: 8px;
  box-sizing: border-box;
}
